<main class="main">
    <div class="row m-0">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h2 class="main-title">Compliance Checker</h2>
            <p class="subheading" *ngIf="!ischeckCompliance">Update your immigration documents for compliance analysis</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-end">
            <button class="btn white-btn mt-3 mb-3" (click)="showPastDocs()">Past documents</button>
        </div>
    </div>
    <div class="right-sidebar" [class.open]="isShowPastDoc">
        <div class="sidebar-header">
            <div>
                <h6 class="mb-0">Drag and drop the documents</h6>
            </div>
            <button class="btn close-btn" (click)="closePastDocs()">&times;</button>
        </div>
        <div class="sidebar-body">
            <p>These are document you have used in the past</p>
            <div class="past-docs" *ngFor="let past of pastDocs;">
                <img src="../../../../assets/icons/doc-table-icon.png" height="20px">
                <p class="mb-0"> {{ past.file_name }} </p>
            </div>
        </div>
    </div>
    <div class="showdow-box" *ngIf="!ischeckCompliance">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
                <h3 class="main-title mb-3">H-4 Visa Compliance Checker</h3>
                <p class="subheading"></p>
                <div class="white-box" (drop)="onDropDoc($event)" (dragover)="onDragOverDoc($event)"
                    (dragleave)="onDragLeaveDoc($event)" *ngIf="!isDocUploaded">
                    <img src="../../../../assets/icons/doc-table-icon.png" alt="">
                    <p>Drag & drop or choose a document to upload</p>
                    <span>Limit 200MB per file</span>

                    <div class="btn-section">
                        <button class="btn black-btn" (click)="fileInputDoc.click()">Upload file</button>
                        <input type="file" #fileInputDoc hidden accept=".pdf, .doc, .docx, .txt"
                            (change)="onFileSelectedDoc($event)" />
                    </div>
                </div>
                <div class="white-box" *ngIf="isDocUploaded">
                    <img src="../../../../assets/images/uploaded-doc.png" alt="" height="100px">
                    <p class="doc-name">
                        {{ documentName }}
                        <i class="doc-name-close" (click)="resetDoc()">&times;</i>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-3">
                <h3 class="main-title mb-3">Choose rules</h3>
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label class="form-label">Select the type of document</label>
                        <select class="form-select" formControlName="documentType">
                            <option value="" disabled>Select type of document</option>
                            <option value="PDF">PDF</option>
                            <!-- <option *ngFor="let type of documents" [value]="type">{{ type }}</option> -->
                        </select>
                        <div *ngIf="form.get('documentType')?.invalid && form.get('documentType')?.touched"
                            class="text-danger">
                            Document type is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Select Rules</label>
                        <select class="form-select" formControlName="rule">
                            <option value="" disabled>Select rules</option>
                            <option value="I-140 should be valid for the spouse, H-4 should be valid">
                                I-140 should be valid for the spouse, H-4 should be valid</option>
                            <!-- <option *ngFor="let r of rules" [value]="r">{{ r }}</option> -->
                        </select>
                        <div *ngIf="form.get('rule')?.invalid && form.get('rule')?.touched" class="text-danger">
                            Rule is required.
                        </div>
                    </div>
                    <div class="mt-2 text-end">
                        <span class="edit-btn" (click)="editRules()">Edit Rules</span>
                    </div>
                </form>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn black-btn" [disabled]="!(isDocUploaded && isRulesEntered)"
                    (click)="checkCompliance()">Check rule
                    compliance</button>
            </div>
            <div class="col-12 text-center mt-2" *ngIf="isDocUploaded && isRulesEntered">
                <button class="btn reset-btn" (click)="resetAll()">Reset</button>
            </div>
        </div>
    </div>
    <div class="compliance-result" *ngIf="ischeckCompliance">
        <div class="results">
            <h4 class="main-title mb-3">Results</h4>
            <div class="center-align">
                <div class="center-align">
                <span>Rules passed:</span>
                <h3 class="main-title mb-0">2/3</h3>
            </div>
            <div class="center-align">
                <span>Compliance:</span>
                <h3 class="main-title mb-0">78%</h3>
            </div>
            <div class="center-align">
                <span>Status:</span>
                <button class="btn status-btn">Not ready</button>
            </div>
            </div>
        </div>
        <h4 class="main-title mt-3">Rule Details</h4>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" *ngFor="let item of compareData; let i = index">
                <h2 class="accordion-header" [id]="'heading' + i">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'collapse' + i"
                        [attr.aria-expanded]="i === 0 ? 'true' : 'false'" [class.collapsed]="i !== 0">
                        <i class="fa fa-check-circle status-icon" *ngIf="item.severity === 'High'"></i> 
                        <i class="fa fa-exclamation-circle status-icon" *ngIf="item.severity === 'Low'"></i>
                        {{ item.rule_number }}: {{ item.rule_name }}
                        
                    </button>
                </h2>
                <div [id]="'collapse' + i" class="accordion-collapse collapse" [class.show]="i === 0"
                    [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>{{ item.rule_description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>