<header class="header">
  <div class="container">
    <div class="d-flex">
      <img class="logo me-2" src="../../../assets/images/logo.png" alt="Harmony Logo">
    <h4>
      Complaince Checker
    </h4>
    <nav class="menu">
  <a routerLink="/rules/check" routerLinkActive="active" class="menu-item" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/rules/list" routerLinkActive="active" class="menu-item">List</a>
</nav>

    </div>
    <div class="right">
      <span class="help">
        <img src="../../../assets/icons/question.png" alt="Help icon"> Help
      </span>
      <div class="avatar dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/images/Avatar.png" alt="User Avatar">
        <img src="../../../assets/icons/Right Icon.png" alt="drobdown">
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li>
            <a class="dropdown-item" (click)="backToDashboard()">
              <i class="fas fa-sign-out logout-icon"></i>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>